* {
    cursor: none !important;
  }
  
  
  .cursor {
    z-index: 1000;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out,
      background-color 0.3s, width 0.3s, height 0.3s;
    width: 10px;
    height: 10px;
    border: 2px black solid;
    background-color: transparent !important;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: spin 3s linear infinite;
    &.active {
      transform: translate(-50%, -50%) scale(1.5);
    }
    &.hidden {
      opacity: 40% !important;
    }
  }
  
  a {
    cursor: none !important;
  }

  @keyframes spin {
    from {
      box-shadow: 4px 4px 3px white;
    }
    25% {
      box-shadow: 4px -4px 3px white;
    }
    50% {
      box-shadow: -4px -4px 3px white;
    }
    75% {
      box-shadow: -4px 4px 3px white;
    }
    to {
      box-shadow: 4px 4px 3px white;
    }
  }