@font-face {
    font-family: abc;
    src: url(file/SchibstedGrotesk-VariableFont_wght.ttf);
}

:root {
    font-family: abc;
}

html {
    overflow-x: hidden;
}

body {
    background-color: #D9D5D4;
    margin: 0;
}

header {
    width: 100vw;
    height: 30px;
    padding: 1em;
    background-color: #DB8504;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: gray;
}

h1 {
    justify-self: center;
}