@font-face {
    font-family: abc;
    src: url(file/SchibstedGrotesk-VariableFont_wght.ttf);
}

:root {
    font-family: abc;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #D9D5D4;
}

section {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: #DB1304;
    color: white;
    border-radius: 1em;
}

.main {
    width: 200px;
    height: 160px;
    transition: 1s;
}

a {
    text-decoration: none;
    color: rgb(216, 216, 216);
    width: fit-content;
    text-decoration: line-through;
}
a:hover {
    color: white;
    text-decoration: none;
}

.header:hover ~ .main {
    height: 200px;
}

.header {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}