@font-face {
    font-family: abc;
    src: url(file/SchibstedGrotesk-VariableFont_wght.ttf);
}

:root {
    font-family: abc;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #D9D5D4;
}

section {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: #DB1304;
    color: white;
    border-radius: 1em;
    box-shadow: 10px 10px white;
    transition: box-shadow 1s;
}

section:hover {
    box-shadow: 20px 20px black;
}

.main {
    width: 200px;
    height: 160px;
    transition: height 1s, box-shadow 1s;
}

a {
    text-decoration: none;
    color: rgb(216, 216, 216);
    width: fit-content;
    text-decoration: line-through;
    transition: transform 1s;
}
a:hover {
    color: white;
    text-decoration: none;
}

.header:hover ~ .main {
    height: 200px;
}

.header:hover a {
    transform: translateX(60px);
}

.header {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
}

h2 {
    margin: 0px;
    font-size: 16px;
}

h1 {
    margin: 0px;
    margin-bottom: 4px;
}